#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build
	touch build-stamp

clean: unpatch
	debconf-updatepo
	dh clean

install: build install-stamp
install-stamp:
	dh install --before dh_auto_install
	$(MAKE) install DESTDIR=$(CURDIR)/debian/iodine prefix=/usr
	dh install --after dh_auto_install --before dh_compress
	dh_compress -Xiodine-jigger
	dh install --after dh_compress --before dh_installinit
	dh_installinit --name=iodined
	dh install --after dh_installinit
	touch install-stamp

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
